
# Lab data files --------------------------------------------------------------

ARMA/weather.npy
Animation/orbits.npz
Animation/vibration.npz.gz
AnisotropicDiffusion/coke_balloon.jpg
AnisotropicDiffusion/balloons_color.jpg
BinaryTrees/english.txt
BreadthFirstSearch/movie_data.txt
BreadthFirstSearch/movie_data_small.txt
CDHMM/Samples.zip
CVXPY_Intro/food.npy
Conditioning_Stability/stability_data.npy
ConvolutionFiltering/tada.wav
ConvolutionFiltering/CGC.wav
ConvolutionFiltering/GCG.wav
ConvolutionFiltering/balloon.wav
ConvolutionFiltering/chopin.wav
ConvolutionFiltering/noisy1.wav
ConvolutionFiltering/noisy2.wav
ConvolutionFiltering/vuvuzela.wav
ConvolutionFiltering/noisy_face.png
ConvolutionFiltering/license_plate.png
DataCleaning/g_t_results.csv
DataCleaning/imdb.csv
DataCleaning/housing.csv
DataCleaning/housing_data_description.txt
DataCleaning/toy_dataset.csv
DataVisualization/anscombe.npy
DataVisualization/MLB.npy
DataVisualization/earthquakes.npy
DataVisualization/countries.npy
Differentiation/plane.npy
Dijkstra/bathymetry.tt3
DrazinInverse/social_network.csv
Exceptions_FileIO/hello_world.txt
Exceptions_FileIO/cf_example1.txt
Exceptions_FileIO/cf_example2.txt
FacialRecognition/faces94.zip
FourierTransform/tada.wav
FourierTransform/mystery_chord.wav
GMM/gmm_data.npy
GMM/classification.npz
Gibbs_LDA/examscores.npy
Gibbs_LDA/reagan.txt
Gibbs_LDA/stopwords.txt
GradientMethods/linregression.txt
GradientMethods/challenger.npy
HMM/declaration.txt
HMM/WarAndPeace.txt
HMM/stocks.npy
ImageProcessing/balloons_color.jpg
ImageSegmentation/dream.png
ImageSegmentation/dream_gray.png
ImageSegmentation/blue_heart.png
ImageSegmentation/HeartMatrixA.npz
ImageSegmentation/HeartMatrixD.npy
InformationTheory/allowed_guesses.txt
InformationTheory/possible_secret_words.txt
InformationTheory/all_guess_results.npy.tar.gz
InteriorPoint_Linear/simdata.txt
InteriorPoint_Quadratic/portfolio.txt
InverseProblem/measured_heat.npy
KMeans/earthquake_coordinates.npy
KMeans/nasa.zip
KMeans/sacramento.npy
LSI_SkLearn/Addresses.zip
LSI_SkLearn/stopwords.txt
LeastSquares_Eigenvalues/circle.npy
LeastSquares_Eigenvalues/ellipse.npy
LeastSquares_Eigenvalues/housing.npy
LinearRegression/realestate.csv
LinearTransformations/horse.npy
MarkovChains/yoda.txt
MatplotlibIntro/FARS.npy
Metropolis/examscores.npy
NMF/faces94.zip
NMF_Recommender/artists.csv
NMF_Recommender/artist_user.csv
NaiveBayes/sms_spam_collection.csv
NearestNeighbor/mnist_subset.npz
NumpyIntro/grid.npy
PageRank/web_stanford.txt
PageRank/ncaa2010.csv
PageRank/ncaa2011.csv
PageRank/ncaa2012.csv
PageRank/ncaa2013.csv
PageRank/ncaa2014.csv
PageRank/ncaa2015.csv
PageRank/ncaa2016.csv
PageRank/ncaa2017.csv
PageRank/top250movies.txt
Pandas1/crime_data.csv
Pandas1/budget.csv
Pandas1/DJIA.csv
Pandas1/paychecks.csv
Pandas2/crime_data.csv
Pandas2/college.csv
Pandas2/budget.csv
Pandas2/sat_act.csv
Pandas3/Ohio_1999.csv
Pandas3/college.csv
Pandas3/mammal_sleep.csv
Pandas3/titanic.csv
Pandas4/airports.csv
Pandas4/county_data.gpkg.zip
Pandas4/nytimes.csv
Pandas4/cities.gpkg.zip
Pandas4/worldmap.gpkg.zip
PoissonEquation/dr_jarvis.jpg
PoissonEquation/mount_rushmore.jpg
PolynomialInterpolation/airdata.npy
Profiling/names.txt
Profiling/triangle.txt
Profiling/triangle_large.txt
RNN/mozart_sonatas.tar.gz
RandomForest/parkinsons.csv
RandomForest/parkinsons_features.csv
RandomForest/animals.csv
RandomForest/animal_names.csv
RandomForest/animal_features.csv
RegularExpressions/fake_contacts.txt
SIR_Models/new_york_cases.npy
SQL1/student_info.csv
SQL1/student_grades.csv
SQL1/us_earthquakes.csv
SQL2/students.db
SQL2/mystery_database.db
SVD_ImageCompression/hubble.jpg
SVD_ImageCompression/hubble_gray.jpg
Simplex/productMix.npz
Spark/titanic.csv
Spark/huck_finn.txt
Spark/london_income_by_borough.csv
Spark/london_crime_by_lsoa.csv.tar.xz
TotalVariation/balloons_color.jpg
UnixShell1/Shell1.zip
UnixShell2/Shell2.zip
Wavelets/mandrill.png
Wavelets/woman_darkhair.png
Wavelets/noisy_darkhair.png
Wavelets/uncompressed_finger.png
WebScraping/san_diego_weather.html
WebScraping/large_banks_index.html
WebScraping/large_banks_data.html

# General Files ---------------------------------------------------------------

# Extra Python files.
__init__.py
__main__.py
*.py[cdfo]
__pycache__/
.ipynb_checkpoints/

# Latex temporary files
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
*.bcf
*.fls
*.pdf

# OS generated files
.DS_Store

# Backup files
*~
*.backup
*.bak
*.tmp
*.temp
*.sav

# C compiled files, extensions
*.dll
*.o
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Unit test / coverage reports
.coverage
.tox
.cache/
.pytest_cache/
htmlcov/

# Miscellaneous
build/
faces94/
nyc_*.json
*.mod
london_crime*
*.npz
*.npy
*.gpkg
*.db
RNN/mozart_sonatas/
UnixShell1/Shell1/
UnixShell1/img_649.jpg
UnixShell2/Shell2/
