
# Lab data files --------------------------------------------------------------

BinaryTrees/english.txt
BreadthFirstSearch/movieData.txt
CVXOPT_Intro/ForestData.npy
Conditioning_Stability/stability_data.npy
DataVisualization/anscombe.npy
DataVisualization/MLB.npy
DataVisualization/earthquakes.npy
DataVisualization/countries.npy
Differentiation/plane.npy
DrazinInverse/social_network.csv
Exceptions_FileIO/hello_world.txt
Exceptions_FileIO/cf_example1.txt
Exceptions_FileIO/cf_example2.txt
FacialRecognition/faces94.zip
FourierTransform/tada.wav
FourierTransform/mystery_sound.wav
FourierTransform/CGC.wav
FourierTransform/GCG.wav
FourierTransform/balloon.wav
FourierTransform/chopin.wav
FourierTransform/noisy1.wav
FourierTransform/noisy2.wav
FourierTransform/vuvuzela.wav
FourierTransform/noisy_face.png
FourierTransform/license_plate.png
GradientMethods/linregression.txt
GradientMethods/challenger.npy
ImageSegmentation/dream.png
ImageSegmentation/dream_gray.png
InteriorPoint_Linear/simdata.txt
InteriorPoint_Quadratic/portfolio.txt
LeastSquares_Eigenvalues/circle.npy
LeastSquares_Eigenvalues/ellipse.npy
LeastSquares_Eigenvalues/housing.npy
LinearTransformations/horse.npy
LinkedLists/english.txt
MarkovChains/yoda.txt
MarkovChains/tswift1989.txt
MatplotlibIntro/FARS.npy
NearestNeighbor/PostalData.npz
NumpyIntro/grid.npy
PageRank/web_stanford.txt
PageRank/ncaa2010.csv
PageRank/ncaa2011.csv
PageRank/ncaa2012.csv
PageRank/ncaa2013.csv
PageRank/ncaa2014.csv
PageRank/ncaa2015.csv
PageRank/ncaa2016.csv
PageRank/ncaa2017.csv
PageRank/top250movies.txt
Pandas1/crime_data.csv
Pandas1/titanic.csv
Pandas2/crime_data.csv
Pandas2/titanic.csv
Pandas3/mammal_sleep.csv
Pandas3/titanic.csv
Pandas4/DJIA.csv
Pandas4/finances.csv
Pandas4/paychecks.csv
Pandas4/website_traffic.csv
PolynomialInterpolation/airdata.npy
Profiling/names.txt
Profiling/triangle.txt
Profiling/triangle_large.txt
QuasiNewtonMethods/population.npy
RegularExpressions/fake_contacts.txt
SQL1/student_info.csv
SQL1/student_grades.csv
SQL1/us_earthquakes.csv
SQL2/students.db
SVD_ImageCompression/hubble.jpg
SVD_ImageCompression/hubble_gray.jpg
Wavelets/mandrill1.png
Wavelets/woman_darkhair.png
Wavelets/noisy_darkhair.png
Wavelets/uncompressed_finger.png
WebScraping1/example.html
WebScraping1/san_diego_weather.html
WebScraping1/large_banks_index.html
WebScraping1/large_banks_data.html
WebTechnologies/nyc_traffic.json

# General Files ---------------------------------------------------------------

# Extra Python files.
__init__.py
__main__.py
*.py[cdfo]
__pycache__/
.ipynb_checkpoints/

# Latex temporary files
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
*.bcf
*.fls
*.pdf

# OS generated files
.DS_Store

# Backup files
*~
*.backup
*.bak
*.tmp
*.temp
*.sav

# C compiled files, extensions
*.dll
*.o
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Unit test / coverage reports
.coverage
.tox
.cache/
.pytest_cache/
htmlcov/

# Miscellaneous
build/
faces94/
*.mod
