autograd >= 1.3
basemap >= 1.3.0
beautifulsoup4 >= 4.9.1
bokeh >= 0.13.0
cvxpy >= 1.1.3
cython >= 0.27.3
geoplot >= 0.4.1
graphviz >= 2.38
gym 0.17.2
ipdb >= 0.13.3
imageio >= 2.9.0
ipyparallel >= 6.3.0
matplotlib >= 3.2.2
mpi4py >= 2.0.0
networkx >= 2.4
numba >= 0.50.0
numexpr >= 2.6.7
numpy >= 1.19.1
pandas >= 1.1.04
pyfftw >= 0.12.0
pyproj >= 1.9.5.1
pyspark >= 3.0.0
pytest >= 3.7.1
pytest-cov >= 2.5.1
pytorch >= 1.6.0
pywavelets >= 1.1.1
requests >= 2.24.0
scikit-learn >= 0.19.1
scipy >= 1.5.0
selenium >= 3.141.0
statsmodels >= 0.11.1
sympy >= 1.6.1
torchvision >= 0.7.0
tqdm >= 4.24.0
tweepy >= 3.9.0
